.clearfix {
    zoom: 1
}

html,
body {
    overflow-x: hidden;
    text-rendering: optimizeLegibility;

}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden
}

@font-face {
    font-family: saira-bold;
    src: url(Saira-Bold.ttf)
}

@font-face {
    font-family: saira-regular;
    src: url(Saira-Regular.ttf)
}

@font-face {
    font-family: saira-medium;
    src: url(Saira-Medium.ttf)
}

/*----------------------------------------------------------------------------------------------------------------*/

.Section_Login1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

.left {
    width: 100%;
    left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: white;

}

.right {
    width: 100%;
    max-width: 1050px;
    -webkit-box-flex: 500px;
    -ms-flex: 500px;
    flex: 1050px;
    background: #E5E5E5;
}

.logo_class {
    margin: 46px 80px 40px;
    width: 65px;
}

ul {
    width: 100%;
    max-width: 230px;
    margin: auto;

}

li {
    list-style: none;
    cursor: pointer;
    padding: 20px 0px;
    color: #C7C7C7;
    font-family: saira-regular;
}

.active,
li:hover {
    background-color: #F3CABB;
    border-radius: 4px;
    color: black;

}

.home {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

h1 {
    margin: 12px 24px;
    font-family: saira-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 57px;
    color: #404040;
}

p {
    margin: 20px 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    font-family: saira-regular;
    color: #542D21;
}

table {
    border-collapse: collapse;
    margin: 0px 36px 17px 25px;

}

th {
    padding: 18px 20px 18px 14px;
    background: #F3CABB;
    -webkit-box-shadow: inset 0px -2px 0px rgba(131, 87, 87, 0.17);
    box-shadow: inset 0px -2px 0px rgba(131, 87, 87, 0.17);
    border-radius: 0px;
    border: 1px solid white;
    font-size: 14px;
    font-family: saira-regular;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

tr {
    font-family: saira-regular;

}

td {
    background: #FFFFFF;
    -webkit-box-shadow: inset 0px -1px 0px #E5E5E5;
    box-shadow: inset 0px -1px 0px #E5E5E5;
    letter-spacing: 0.25px;
    border: 1px solid #E5E5E5;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding: 12px 6px;
}

td:nth-child(4) {
    color: #008CDB;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

td:nth-child(6) {
    color: #008CDB;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.25px;
    font-family: saira-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.Section_PageResult {
    float: right;
    margin: 10px 35px;
}

footer div:hover {
    background-color: #EB5A2C;
    border-radius: 50%;
}

.dropdown_box {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 6px 6px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 6px 4px rgba(0, 0, 0, 0.1);
    width: 616px;
    margin: auto;
    -webkit-transform: translate(50%, 30%);
    transform: translate(30%, 40%);
    height: 311px;
}

h5 {
    text-align: center;
    margin-top: 22px;
    font-family: saira-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

select {
    width: 200px;
    padding: 0px;
    font-family: saira-regular;
    background-color: #F8F8F8;
    border: 0.5px solid #CACACA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/dropdown-symbol.png);
    background-repeat: no-repeat;
    background-position: right;
}

.select_Dropdown {
    width: 35%;
    margin: auto;
    margin-top: 50px;
}

.i {
    padding: 5px;
    cursor: pointer;
    float: right
}

.select_Dropdown text {
    font-family: saira-regular;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #676767;
}

.image_dropdown {}

.div_Submit {
    text-align: center;
    margin: 50px;

}

.btn-submit {
    background: #EB5A2C;
    border-radius: 6.35px;
    width: 185px;
    height: 40px;
    color: white;
    font-family: saira-regular;

}

.btn-primary {
    background-color: #F3CABB;
    width: 100px;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: #b1988f;
    color: black
}

.modal-body {
    text-align: center
}
